/* GOOGLE fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500i');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
/* BODY */
body{
  padding: 0;
  margin: 0;
  background: #DEF8FF;
  min-width: 320px;
}
/* OUTER div */
#outer-div{
  width: 60%;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #FEF5FF; 
  font-family: 'Quicksand', sans-serif;
}
/* TITLE tag */
#title{
  font-size: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
  color: #1D3A96;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
/* DESCRIPTION tag */
#description{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  color: #5375DF;
}
/* #ROW */
.row{
  width: 100%;
  box-sizing: border-box;
  margin-top: 7px;
}
/* DIV#label */
.label{
  padding: 0;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  text-align: right;
  vertical-align: top;
  font-size: 20px;
  padding: 5px;
  color: #1C59AC;
}
/* DIV#right-tab */
.right-tab{
  padding: 0;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  text-align: left;
  vertical-align: middle;
  color: #3C0526;
}
/* INPUT tag */
#name,#email,#number,#dropdown,textarea{
  height: 33px;
  width: 80%;
  border-radius: 5px;
  box-sizing: border-box; 
  padding: 5px;
  font-size: 15px;
}
textarea{
  height: 60px;
}
/* LIST */
ul{
  padding: 0;
  margin: 0;
}
li{
  margin-bottom: 5px;
  font-size: 17px;
}
/* SUBMIT button */
#submit{
  width: 30%;
  height: 40px;
  align: center;
  margin-left: 35%;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #94FFFF;
  font-size: 22px;
  border-radius: 10px;
  color: #1C59CC;
}
/* ANCHOR tag */
a{
  text-decoration: none;
  color: #FC7587;  
}
footer{
  width: 100%;
  text-align: center;
  color: #FA3B3B;
  font-size: 25px;
}
#footer{
    font-family: font-family: 'Gamja Flower', cursive;
}
/* HOVER */
#submit:hover{
  font-weight: bold;
}
a:hover{
  font-size: 35px;
  color: #7B7CF8;
}
#name:hover{
  border-color: #94FFFF;
}
#email:hover{
  border-color: #94FFFF;
}
#number:hover{
  border-color: #94FFFF;
}
/* RESPONSIVE */
@media screen and (max-width: 833px){
  .input-field{
    width: 70%;
  }
  select{
    width: 80%;
  }
  #submit{
    width: 40%;
  }
}
@media screen and (max-width: 520px){
  #outer-div{
    width: 90%;  
  }
  .label{
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
  label{
    cursor: pointer;
  }
  .right-tab{
    width: 75%;
    float: left;
    margin-left: 10%;
  }
  .input-field{
    width: 100%;
  }
  select{
    width: 100%;
  }
  #submit{
    width: 40%;
    margin-left: 30%;
  }
}
